.select2,
.form-control {
    border: 1px solid #ccc !important;
}

.input-search {
    border: 1px solid #fff !important;
}

/* Modelar para movil */
@media (max-width: 700px) {
    .container-fluid {
        padding: 0px !important;
    }
}